:root {
    --color1: #EFD28D;
    --color2: #A30000;
    --color3: #00AFB5;
    --color4: #004777;
    --color5: #FF7700;
}

body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    background-image: url(./img/pixel.png);
    background-color: var(--color1);
    background-blend-mode: screen;
}

header {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1,
p,
button,
label {
    color: var(--color5);
    font-weight: 700;
    text-shadow: 1px 1px 2px var(--color2), 0 0 1em var(--color4), 0 0 0.2em var(--color4);
    font-family: 'Sonsie One', cursive;

}

div p {
    text-align: center;
}

#canvas div {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    user-select: none;
}

.controlBtns {
    width: 300px;
    border-radius: 25px;
    margin-bottom: 0.5rem;
    background-color: var(--color3);
}

input[type="color"] {
    opacity: 0;
    display: block;
    border: none;
    width: 296px;
    height: 20px;
}

#color-wrapper {
    border-width: 2px;
    width: 296px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    border-radius: 25px;
    margin-bottom: 0.5rem;
    background-color: black;
    box-shadow: 3px 3px 5px var(--color4);
    position: relative;
}

.color-absolute {
    position: absolute;
    top: 0px;
    left: 115px;
    user-select: none;
}

button {
    box-shadow: 3px 3px 5px var(--color4);
}

.active {
    background-color: var(--color4);
}

#frame {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 700px;
    background-color: var(--color2);
    border-radius: 50px;
    box-shadow: 12px 12px 10px 1px rgba(0, 71, 119, 0.4);
}

#canvas {
    width: 500px;
    height: 500px;
    background-color: #fefefe;
    margin-left: 50px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 1em black, 0 0 0.2em black;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    max-width: 300px;
    height: 500px;
}

@media only screen and (max-width: 1100px) {
    .controlBtns {
        width: 250px;
    }

    #frame {
        width: 800px;
        height: 560px;
    }

    #canvas {
        width: 400px;
        height: 400px;
    }

    #controls {
        height: 400px;
    }

    #color-wrapper {
        width: 246px;

    }

    .color-absolute {
        left: 95px;
    }

}

    

@media only screen and (max-width: 800px) {
    .controlBtns {
        width: 125px;
    }

    #frame {
        width: 500px;
        height: 350px;
    }

    #canvas {
        width: 250px;
        height: 250px;
    }

    #controls {
        height: 250px;
        max-width: 135px;
    }

    #color-wrapper {
        width: 121px;

    }

    .color-absolute {
        left: 30px;
    }

}

@media only screen and (max-width: 525px) {
    .controlBtns {
        width: 120px;
    }

    #frame {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        height: 550px;
    }

    #canvas {
        width: 300px;
        height: 300px;
        margin-left: 0px;
        margin-top: 30px;
    }

    #controls {
        flex-direction: row;
        column-gap: 50px;
        height: 160px;
        max-width: 90px;
    }

    #color-wrapper {
        width: 116px;

    }

    .color-absolute {
        left: 27px;
    }

    div p {
        display: none;
    }

}